<mat-horizontal-stepper>
  <mat-step label="Home">
    <p>Beležite podatke o vašem fudbalskom timu!</p>
    <hr>
    <img height="85%" width="85%" src="../../../../assets/football1.png"/>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step label="Add">
    <p>Dodajte nove igrače, timove, lige i nacionalnosti.</p>
    <hr>
    <img height="85%" width="85%" src="../../../../assets/football2.png"/>
    <div>
      <button mat-raised-button color="warn" matStepperPrevious>Back</button>&nbsp;
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Edit and delete">
    <p>Takođe možete da menjate njihove podatke i da ih brišete.</p>
    <hr>
    <img height="36%" width="36%" src="../../../../assets/football3.png"/>
    <div>
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
      </div>
  </mat-step>
</mat-horizontal-stepper>