<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje tima</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija tima: {{data.naziv}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje tima: {{data.naziv}}</h3>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field hintLabel="Maksimalno 100 karaktera">
        <input matInput #input maxlength="100" placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag == 3" required>
        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width" color="accent"> 
        <input matInput [matDatepicker]="osnovan" placeholder="Osnovan" [(ngModel)]="data.osnovan" name="osnovan"
          [disabled]="flag == 3">
        <mat-datepicker-toggle matSuffix [for]="osnovan"></mat-datepicker-toggle>
        <mat-datepicker touchUi #osnovan></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 100 karaktera">
        <input matInput #input2 maxlength="100" placeholder="Sedište" [(ngModel)]="data.sediste" name="sediste" [disabled]="flag == 3">
        <mat-hint align="end">{{input2.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.liga" placeholder="Liga" name="liga" [compareWith]="compareTo"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let liga of lige" [value]="liga">
            {{ liga.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 1" [type]="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-raised-button color="accent" *ngIf="flag == 2" [type]="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>