<mat-toolbar color="primary">
  <span class="title-center">Liga</span>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretražite lige">
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.naziv}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="oznaka">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Oznaka</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.oznaka}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" matTooltip="Dodajte novu ligu" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" matTooltip="Izmenite ligu"
          (click)="openDialog(2, row.id, row.naziv, row.oznaka)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Izbrišite ligu"
          (click)="openDialog(3, row.id, row.naziv, row.oznaka)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="[5]" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
</div>
