<div class="content">
  <a target="_blank" title="Angular 7 + Spring boot" href="localhost:8083/swagger-ui.html">
    <img class="centerImage" width="70%" height="50%" alt="Angular 7 + Spring boot" title="Angular 7 + Spring boot"
      src="https://camo.githubusercontent.com/3d424cc7fbdca42232c1297e89e42b7f082548d7/68747470733a2f2f696d6167652e6962622e636f2f6e4d787167482f496d616765332e706e67">
  </a>
  <hr>
  <p class="centerText">
    Web aplikacija koja koristi Angular 7 kao frontend i Spring Boot kao backend. Baza je PostgeSQL.
    Demonstrira osnovne CRUD operacije. Takođe postoji mogućnost pretrage, sortiranja i prikaza podataka
    po stranicama.
  </p>
  <hr>
  <img src="../../../../assets/uml_diagram.PNG" alt="UML diagram" />
</div>
