@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
  border: 16px solid green;
  border-top: 16px solid greenyellow;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { 
      transform: rotate(0deg); 
  }
  100% { 
      transform: rotate(360deg); 
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}