<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje igrača</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija igrača: {{data.id}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje igrača: {{data.id}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.nacionalnost" placeholder="Nacionalnost" name="nacionalnost"
          [compareWith]="compareTo" [disabled]="flag == 3" required>
          <mat-option *ngFor="let nacionalnost of nacionalnosti" [value]="nacionalnost">
            {{ nacionalnost.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input matInput #input1 maxlength="50" placeholder="Ime" [(ngModel)]="data.ime" name="ime"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input1.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input matInput #input2 maxlength="50" placeholder="Prezime" [(ngModel)]="data.prezime" name="prezime"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input2.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input matInput #input3 maxlength="50" placeholder="Broj registracije" [(ngModel)]="data.brojReg" name="brojReg"
          [disabled]="flag == 3">
        <mat-hint align="end">{{input3.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input matInput [matDatepicker]="datumRodjenja" placeholder="Datum rođenja" [(ngModel)]="data.datumRodjenja"
          name="datumRodjenja" [disabled]="flag == 3">
        <mat-datepicker-toggle matSuffix [for]="datumRodjenja"></mat-datepicker-toggle>
        <mat-datepicker touchUi #datumRodjenja></mat-datepicker>
      </mat-form-field>

    </div>

    <app-dialog-buttons [flag]="flag" [isValid]="!formControl.valid" (addEvent)="add()" (updateEvent)="update()"
      (deleteEvent)="delete()" (cancelEvent)="cancel()"> </app-dialog-buttons>
  </form>
</div>
